/* Write your code here. */
.faqs-list-item {
  border: 1px solid #d7dae6;
  border-radius: 6px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 50px;
  max-width: 600px;
}
.question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question-text {
  color: #52606d;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 600;
}
.plus-minus-img {
  margin-left: 10px;
}
.hr-line {
  background-color: #d7dae6;
}
.answer-text {
  color: #9aa5b1;
  font-family: 'Roboto';
  font-size: 13px;
}
.button {
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.hide-container {
  display: none;
}
